/* Universal seletor */
*{
    margin: 0;
    padding: 0;
}
/* google font */

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* saherd style */
  .dark-1{
    color: #0E0E0E;
  }
.dark-02{
    color: #666363;
}
.text-justyfi{
  text-align: justify;
}
 
  /* nav section */
  .navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    height: 100px; 
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
  }
 .nav-title{
    font-weight: bold;
    font-size: 20px;
 }
  .nav-btn{
    color: #006A50;
    background-color: white;
    border: 1px solid #006A50;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    
  }

  /* banner-section */
  .banner-section{
    max-width:1120px;
    height: 560px;
    margin: 0 auto;
    display: flex;
    background-color: #C6E4D6;
    border-radius: 24px;
    justify-content: space-around;
    align-items: center;
    padding: 60px 50px 60px 50px;
    gap: 64px;
     
  }
  .banner-min-titile{
    color: grey;
    font-size: 24px;
    font-weight: 600;
  }
  .banner-title{
    font-size: 56px;
    font-weight: bold;
  }
  .banner-img{
    max-width: 474.03px;
  }

  .banner-btn{
    color: white;
    background-color: #006A50;
    border: none;
     width: 300px;
     height: 56px;
     border-radius: 8px;
     font-size: 18px;
     cursor: pointer;
      
  }
  /* pillars-card-01 */
  .piller-section{

    max-width:1120px;
    height: 500px;
    margin: 0 auto;

  }
  .card{
    display: flex;
    margin-top: 2px;
    gap: 24px;
    
  }
  .card-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.80);
  }

  .pillars-card-01{
      padding: 30px;
      background-color: rgb(252, 252, 252);
      box-shadow: 10px 10px 20px rgb(229, 226, 226);
      border-radius: 16px;
     

  
  }
  .vison-part{
    max-width:1300px;
    margin: 0 auto;
 
  }
.card{
  display: flex;
  max-width:1200px;
  height: 280px;
  margin: 0 auto;
  
   
}
.vison-content{
 margin-left: 40px;
 margin-bottom: 30px;
}
.card-section{
  padding: 30px;
  background-color: rgb(252, 252, 252);
  box-shadow: 10px 10px 20px rgb(243, 241, 241);
  border-radius: 16px;
 
  

}
.card-1{
  background-color: rgba(84, 144, 245, 0.20);
}
.card-2{
  background-color: rgba(198, 228, 214, 1.00);
}
.card-03{
  background-color: rgba(247, 235, 207, 1.00);
}
.card-btn-1{
  background-color: rgba(84, 144, 245, 1.00);
  width: 130px;
  height: 40px; 
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  border-radius: 8px;
   
}

.card-btn-2{
  background-color: #09A15C ;
  width: 130px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  border-radius: 8px;
   
}

.card-btn-3{
  background-color: #FFC239 ;
  width: 130px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  border-radius: 8px;
   
}

 
.second-card{
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  max-width:1200px;
  margin: 0 auto;
  background-color: #FFC239;
  margin-top: 20px;
  background-color: rgb(252, 252, 252);
  box-shadow: 20px 20px 30px  rgb(227, 219, 219); 
  padding: 25px 24px;
  border-radius: 16px;

 
}

/*  */
.table-section{
  box-shadow: 30px 20px 30px  rgb(227, 219, 219); 
  background-color: rgb(252, 252, 252);
  width:1300px;
  margin: 0 auto;
  padding: 25px;

}
.option-titile{
  margin-left: 50px;
  margin-top:80px;
}
table {
  width:1250px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top:20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 32px;
}

th {
  background-color: #d2ead2;
  padding: 12px;
  text-align: left;
  font-size: 18px;
  
}

td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  border: 1px solid grey;
}

select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.resent-news{
  max-width: 1220px;
  height: 402px;
  margin:0 auto ;
  margin-top: 30px;

}
.resent-news-section{
  display: flex;
  justify-content:space-around;
  box-shadow: 30px 20px 30px  rgb(242, 239, 239); 
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 48px;
  gap: 36px;

}
.resent-img{
  border-radius: 24px;

}
.resent-title{
  font-size: 32px;
  font-weight: bold;
}
.resent-btn{
  border: none;
  background-color: #006A50;
  width: 140px;
  height: 48px;
  cursor: pointer;
  color: white;
  border-radius: 8px;
}
.donet-section{
  justify-content: center;
  align-items: center;
  margin-top: 1000px;
}
.donet-card-section{
  display: flex;
   max-width: 1120px;
   margin: 0 auto;
   gap: 50px;
   
}
.donet-content{
  text-align: center;
  max-width: 1120px;
  margin: 0 auto;
  gap: 50px;
}
.donet-card{
  background-color: #ffffff;
  box-shadow: 10px 20px 20px 30px rgb(245, 245, 247);
  width:200px ;
  height: 50px;
  border-radius: 16px;
  padding: 40px;
  align-items: center;

}
.donet-card-2{
background-color: #C6E4D6;
}
.input{
  width: 1032px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: none;
  box-shadow: 10px 20px 20px 30px rgb(245, 245, 247);
}
.donate-btn{
  border: none;
  background-color: #006A50;
  width: 151px;
  height: 50px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  
}

.news-letter-section{
  max-width: 1000px;
  height: 200px;
  padding: 80px;
  background-color: #C6E4D6;
  margin: 0 auto;
  border-radius: 5px;
 

}
.news-content{
  text-align: center;
}
.news-content h1{
  font-size: 40px;
  font-weight: bold;
}
.Subscribe-btn{
   background-color: #ffffff;
   border: none;
   width: 600px;
   height: 50px;
   text-align: center;
   border-radius: 5px 0px 0px 5px;
  margin-left: 200px;
}
.s-btn{
  width: 150px;
  height: 50px;
  border: none;
  background-color: #006A50;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
  cursor: pointer;

}
.last-p{
  text-align: center;
}
.footer{
  max-width: 900px;
  height: 220px;
  margin: 0, auto;
  text-align: center;
}
.last-heading{
  text-align: center;
}
.social-icon{
  text-align: center;
  gap: 100px;
  width: 120px;
  height: 20px;
  margin: 0 auto;
  margin-top: 30px;
}
hr{
  width: 1000px;
  margin-left: 150px;

}